In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([[1,2],[3,4],[5,6]], index=list('abc'), columns=list('xy'))
df1.iloc[0,0] = np.nan
df1

     x  y
a  NaN  2
b  3.0  4
c  5.0  6

In [3]:
df2 = pd.DataFrame([[1,4],[2,5],[3,6]], index=list('abc'), columns=list('xy'))
df2.iloc[1,1] = np.nan
df2

   x    y
a  1  4.0
b  2  NaN
c  3  6.0

### element-wise compare and fill

In [4]:
df1 >= df2

       x      y
a  False  False
b   True  False
c   True   True

In [5]:
df1.where(df1 >= df2, df2)

     x    y
a  1.0  4.0
b  3.0  NaN
c  5.0  6.0

### row-wise compare

In [6]:
(df1 >= df2).any(axis=1)

a    False
b     True
c     True
dtype: bool

In [7]:
(df1 >= df2).all(axis=1)

a    False
b    False
c     True
dtype: bool

### can only compare identically-labeled data

In [8]:
df1 = df1.sort_values('x')
df1

     x  y
b  3.0  4
c  5.0  6
a  NaN  2

In [9]:
try:
    df1 >= df2
except Exception as e:
    print(e)

Can only compare identically-labeled DataFrame objects

### not like other operation can follow index

In [10]:
df1 + df2

     x     y
a  NaN   6.0
b  5.0   NaN
c  8.0  12.0