In [1]:
import pandas as pd
from io import StringIO

In [2]:
def rename_unnamed_as(new_name, df):
    df.columns = pd.MultiIndex.from_frame(
        df.columns.to_frame().replace('^Unnamed:.+', new_name, regex=True)
    )
    return df

### single level header

In [3]:
csv_text = """Name,Height,
A,-1,25
B,95,-1
"""

In [4]:
df = pd.read_csv(StringIO(csv_text))
df

  Name  Height  Unnamed: 2
0    A      -1          25
1    B      95          -1

In [5]:
rename_unnamed_as('', df)
df

0 Name Height
0    A     -1  25
1    B     95  -1

### multi level header

In [6]:
csv_text = """Name,Height,
,Metres,
A,-1,25
B,95,-1
"""

In [7]:
df = pd.read_csv(StringIO(csv_text), header=[0,1])
df

                Name Height Unnamed: 2_level_0
  Unnamed: 0_level_1 Metres Unnamed: 2_level_1
0                  A     -1                 25
1                  B     95                 -1

In [8]:
rename_unnamed_as('-', df)
df

0 Name Height   -
1    - Metres   -
0    A     -1  25
1    B     95  -1

### more reading:

https://stackoverflow.com/questions/48059994/mark-empty-values-in-pandas-dataframe-multi-row-header