In [1]:
import pandas as pd
import numpy as np
from io import StringIO

In [2]:
csv_text = """a,b,c,d
1,4,1,1:a 
2,5,2,1:b 
,6,b3,2:b 
"""

### use default best guess

In [3]:
df = pd.read_csv(StringIO(csv_text))
df

     a  b   c     d
0  1.0  4   1  1:a
1  2.0  5   2  1:b
2  NaN  6  b3  2:b

In [4]:
df.dtypes

a    float64
b      int64
c     object
d     object
dtype: object

### specify used columns and data types

In [5]:
df = pd.read_csv(StringIO(csv_text), usecols=['a','b','c'], dtype={'a':object,'b':object})
df

     a  b   c
0    1  4   1
1    2  5   2
2  NaN  6  b3

In [6]:
df.dtypes

a    object
b    object
c    object
dtype: object

### use custom converter

In [7]:
tryparse = lambda s: int(s) if s.isdigit() else np.nan
df = pd.read_csv(StringIO(csv_text), usecols=['b','c','d'], converters={'c':tryparse})
df

   b    c     d
0  4  1.0  1:a
1  5  2.0  1:b
2  6  NaN  2:b

In [8]:
df.dtypes

b      int64
c    float64
d     object
dtype: object

* Note: NaN can't be stored as int, so it converts to float

### another way to force string type or numeric type

In [9]:
df = pd.read_csv(StringIO(csv_text))
df['b'] = df['b'].astype(str)
df['c'] = pd.to_numeric(df['c'], errors='coerce')
df

     a  b    c     d
0  1.0  4  1.0  1:a
1  2.0  5  2.0  1:b
2  NaN  6  NaN  2:b

In [10]:
df.dtypes

a    float64
b     object
c    float64
d     object
dtype: object

### working with sting data

In [11]:
print( list(df['d']) )
print( list(df['d'].str.strip()) )

['1:a ', '1:b ', '2:b ']
['1:a', '1:b', '2:b']

In [12]:
df['d'].isin(['1:a ','2:b '])

0     True
1    False
2     True
Name: d, dtype: bool

In [13]:
df['d'].str.startswith('1')

0     True
1     True
2    False
Name: d, dtype: bool

In [14]:
df['d'].str.contains('b')

0    False
1     True
2     True
Name: d, dtype: bool

In [15]:
df['d'].str.replace('b','a')

0    1:a
1    1:a
2    2:a
Name: d, dtype: object

In [16]:
df['d'].str.split(':')

0    [1, a ]
1    [1, b ]
2    [2, b ]
Name: d, dtype: object

In [17]:
df['d'].str.split(':').str.get(0)

0    1
1    1
2    2
Name: d, dtype: object

### more reading:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_numeric.html

https://pandas.pydata.org/pandas-docs/stable/text.html