In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col_1':list('aabbbbbb'),
                   'col_2':list('aabbabab'),
                   'col_3':range(8),
                   'col_4':range(0,16,2)})
df

  col_1 col_2  col_3  col_4
0     a     a      0      0
1     a     a      1      2
2     b     b      2      4
3     b     b      3      6
4     b     a      4      8
5     b     b      5     10
6     b     a      6     12
7     b     b      7     14

### apply custom funcion across multiple columns

In [3]:
def myfunction(df):
    max4 = df['col_4'].max()
    min3 = df['col_3'].min()
    return pd.Series({'max4-min3': max4-min3, 'count': df.shape[0]})

In [4]:
df.groupby(['col_1','col_2']).apply(myfunction)

             max4-min3  count
col_1 col_2
a     a              2      2
b     a              8      2
      b             12      4