In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col_1':list('aabbbbbb'),
                   'col_2':list('aabbabab'),
                   'col_3':list('abcdefgh'),
                   'col_4':range(8),
                   'col_5':range(8,16)})
df

  col_1 col_2 col_3  col_4  col_5
0     a     a     a      0      8
1     a     a     b      1      9
2     b     b     c      2     10
3     b     b     d      3     11
4     b     a     e      4     12
5     b     b     f      5     13
6     b     a     g      6     14
7     b     b     h      7     15

### merge by keeping first / last / nth cell

In [3]:
df.groupby(['col_1','col_2']).first()

            col_3  col_4  col_5
col_1 col_2
a     a         a      0      8
b     a         e      4     12
      b         c      2     10

### merge by keeping all values column-wise

In [4]:
cols = pd.DataFrame()
cols['col_3'] = df.groupby(['col_1','col_2'])['col_3'].apply(list)
cols['col_4'] = df.groupby(['col_1','col_2'])['col_4'].apply(list)
cols

                    col_3         col_4
col_1 col_2
a     a            [a, b]        [0, 1]
b     a            [e, g]        [4, 6]
      b      [c, d, f, h]  [2, 3, 5, 7]

### merge by keeping all values in one shot

In [5]:
blocks = df.groupby(['col_1','col_2'])['col_4','col_5'].agg(tuple)
blocks

                    col_4             col_5
col_1 col_2
a     a            (0, 1)            (8, 9)
b     a            (4, 6)          (12, 14)
      b      (2, 3, 5, 7)  (10, 11, 13, 15)

### merge horizontal cells by zip

In [6]:
flatten = lambda ll: [item for li in ll for item in li]

In [7]:
blocks['col_6'] = list( zip(blocks['col_4'], blocks['col_5']) )
blocks['col_6'] = blocks['col_6'].map(flatten)
blocks

                    col_4             col_5                         col_6
col_1 col_2
a     a            (0, 1)            (8, 9)                  [0, 1, 8, 9]
b     a            (4, 6)          (12, 14)                [4, 6, 12, 14]
      b      (2, 3, 5, 7)  (10, 11, 13, 15)  [2, 3, 5, 7, 10, 11, 13, 15]

### merge horizontal cells by row-wise operation

In [8]:
blocks['col_6'] = blocks[['col_4','col_5']].apply(flatten, axis=1, raw=True)
blocks

                    col_4             col_5                         col_6
col_1 col_2
a     a            (0, 1)            (8, 9)                  [0, 1, 8, 9]
b     a            (4, 6)          (12, 14)                [4, 6, 12, 14]
      b      (2, 3, 5, 7)  (10, 11, 13, 15)  [2, 3, 5, 7, 10, 11, 13, 15]

### more reading:

https://stackoverflow.com/questions/16031056/how-to-form-tuple-column-from-two-columns-in-pandas

https://stackoverflow.com/questions/952914/making-a-flat-list-out-of-list-of-lists-in-python