In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'a':list('iijj'),'b':list('ijij'),'c':range(4)}, index=list('abcd'))
df1

   a  b  c
a  i  i  0
b  i  j  1
c  j  i  2
d  j  j  3

In [3]:
df2 = pd.DataFrame({'a':list('iii'),'b':list('ijk'),'d':list('abc')})
df2

   a  b  d
0  i  i  a
1  i  j  b
2  i  k  c

### inner join by common columns

In [4]:
pd.merge(df1, df2, on=['a','b'])

   a  b  c  d
0  i  i  0  a
1  i  j  1  b

### left join by common columns

In [5]:
pd.merge(df1, df2, on=['a','b'], how='left')

   a  b  c    d
0  i  i  0    a
1  i  j  1    b
2  j  i  2  NaN
3  j  j  3  NaN

### outer join by common columns

In [6]:
pd.merge(df1, df2, on=['a','b'], how='outer')

   a  b    c    d
0  i  i  0.0    a
1  i  j  1.0    b
2  j  i  2.0  NaN
3  j  j  3.0  NaN
4  i  k  NaN    c

### outer join by custom column mapping

In [7]:
pd.merge(df1, df2, left_on=['a','b'], right_on=['b','a'], how='outer', suffixes=['_df1','_df2'])

  a_df1 b_df1    c a_df2 b_df2    d
0     i     i  0.0     i     i    a
1     i     j  1.0   NaN   NaN  NaN
2     j     i  2.0     i     j    b
3     j     j  3.0   NaN   NaN  NaN
4   NaN   NaN  NaN     i     k    c