In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'a':range(6),'b':[5,3,6,9,2,4]}, index=list('abcdef'))
df1

   a  b
a  0  5
b  1  3
c  2  6
d  3  9
e  4  2
f  5  4

In [3]:
df2 = pd.DataFrame({'c':range(4),'d':[10,20,30, 40]}, index=list('abhi'))
df2

   c   d
a  0  10
b  1  20
h  2  30
i  3  40

### merge is inner join by default

In [4]:
pd.merge(df1, df2, left_index=True, right_index=True)

   a  b  c   d
a  0  5  0  10
b  1  3  1  20

### join is left join by default

In [5]:
df1.join(df2)

   a  b    c     d
a  0  5  0.0  10.0
b  1  3  1.0  20.0
c  2  6  NaN   NaN
d  3  9  NaN   NaN
e  4  2  NaN   NaN
f  5  4  NaN   NaN

### concat is outer join by default

In [6]:
pd.concat([df1, df2], axis=1)

     a    b    c     d
a  0.0  5.0  0.0  10.0
b  1.0  3.0  1.0  20.0
c  2.0  6.0  NaN   NaN
d  3.0  9.0  NaN   NaN
e  4.0  2.0  NaN   NaN
f  5.0  4.0  NaN   NaN
h  NaN  NaN  2.0  30.0
i  NaN  NaN  3.0  40.0