In [1]:
import numpy as np
import pandas as pd

In [2]:
top_lv1 = range(3)
top_lv2 = ['col1', 'col2']
sub_lv1 = list('ab')
sub_lv2 = ['I', 'II']

In [3]:
mii = pd.MultiIndex.from_product([top_lv1, sub_lv1, sub_lv2])
mic = pd.MultiIndex.from_product([top_lv2, sub_lv1])
df = pd.DataFrame(np.random.random([len(mii), len(mic)]), index=mii, columns=mic)
df

            col1                col2
               a         b         a         b
0 a I   0.695607  0.136190  0.542473  0.358566
    II  0.460695  0.906880  0.842519  0.755459
  b I   0.990573  0.631457  0.043351  0.094895
    II  0.661808  0.279940  0.016304  0.794379
1 a I   0.381186  0.112525  0.732812  0.391261
    II  0.571125  0.575498  0.955167  0.018829
  b I   0.896178  0.065980  0.617443  0.062913
    II  0.552227  0.354158  0.623530  0.505325
2 a I   0.767113  0.579099  0.250048  0.898640
    II  0.763037  0.494777  0.907929  0.067013
  b I   0.949044  0.800359  0.997019  0.695256
    II  0.563292  0.149036  0.077696  0.058368

### direct slicing only works for top-level values

In [4]:
df.loc[1:1, ['col2']] # OK

            col2
               a         b
1 a I   0.732812  0.391261
    II  0.955167  0.018829
  b I   0.617443  0.062913
    II  0.623530  0.505325

In [5]:
df.loc[['b'], ['col2']] # not OK

Empty DataFrame
Columns: [(col2, a), (col2, b)]
Index: []

In [6]:
df.loc[1:1, ['b']] # not OK either

Empty DataFrame
Columns: []
Index: [(1, a, I), (1, a, II), (1, b, I), (1, b, II)]

### use IndexSlice function to do it

In [7]:
df.loc[pd.IndexSlice[:, ['b']], pd.IndexSlice[:, ['b']]]

            col1      col2
               b         b
0 b I   0.631457  0.094895
    II  0.279940  0.794379
1 b I   0.065980  0.062913
    II  0.354158  0.505325
2 b I   0.800359  0.695256
    II  0.149036  0.058368

### reference:

https://stackoverflow.com/questions/44087637/pandas-how-does-indexslice-work