In [1]:
import os
import pandas as pd

In [2]:
data_path = r'datasets\example_data'
file_list = [ os.path.join(data_path,file_name) for file_name in os.listdir(data_path) ]

In [3]:
for f in file_list:
    print(f)

datasets\example_data\1.csv
datasets\example_data\2.csv
datasets\example_data\3.csv

In [4]:
df = pd.concat([ pd.read_csv(f) for f in file_list ], ignore_index=True)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9