In [1]:
import pandas as pd
from datetime import timedelta

### convert column to datetime

In [2]:
df = pd.DataFrame({'a':['2018-01-01 08:00:00','2018-02-01 20:00:00']})
df

                     a
0  2018-01-01 08:00:00
1  2018-02-01 20:00:00

In [3]:
df.dtypes

a    object
dtype: object

In [4]:
df['a'] = pd.to_datetime(df['a'], format='%Y-%m-%d %H:%M:%S')
df

                    a
0 2018-01-01 08:00:00
1 2018-02-01 20:00:00

In [5]:
df.dtypes

a    datetime64[ns]
dtype: object

### add days and other datetime calculation using timedelta

In [6]:
df['b'] = df['a'] + timedelta(days=1)
df

                    a                   b
0 2018-01-01 08:00:00 2018-01-02 08:00:00
1 2018-02-01 20:00:00 2018-02-02 20:00:00

In [7]:
df['c'] = df['b'] - df['a']
df['c']

0   1 days
1   1 days
Name: c, dtype: timedelta64[ns]

In [8]:
df['d'] = df['c'].map(lambda x: x.total_seconds())
df

                    a                   b      c        d
0 2018-01-01 08:00:00 2018-01-02 08:00:00 1 days  86400.0
1 2018-02-01 20:00:00 2018-02-02 20:00:00 1 days  86400.0

### more reading:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

https://pandas.pydata.org/pandas-docs/stable/timeseries.html